





#header {
	background: #f5f5f5 url(../images/pur.jpg) repeat-x center top;
}

#header div {
	margin: 0 auto;
	width: 960px;
}

#header div div {
	height: 110px;
	overflow: hidden;
	position: relative;
}

#header div div div#logo {
	float: left;
	width: 331px;
}

#header div div div {
	float: right;
	height: 110px;
	width: auto;
}

#header div div div div {
	display: block;
	float: none;
    height: auto;
    padding-bottom: 40px;
	padding-left: 134px;
    margin-top: 20px;
	overflow: hidden;
	width: auto;
}

#header div div div div a {
	border-right: 1px solid #6c404f;
	color: #6c404f;
	display: block;
	float: left;
	font-weight: bold;
	line-height: 13px;
	padding: 0 5px;
	text-decoration: none;
}


#header div div div form {
	position: absolute;
	right: 0;
	top: 70px;
	height: 30px;
	width: 290px;
}

#header div div div form input {
	float: left;
	line-height: 30px;
}

#header div div div form input#search {
	background: url(../images/input-search.gif) no-repeat 0 0;
	border: 0;
	height: 30px;
	padding: 0 5px;
	width: 220px;
}

#header div div div form input#searchbtn {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -291px;
	border: none;
	height: 30px;
	width: 60px;
}

#header div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#header div ul li {
	float: left;
	height: 50px;
	line-height: 50px;
	width: 160px;
}




#header div ul li.current a {
	
}

#header div div#section, #header div div.section {
	background: #aa6581;
	height: 360px;	
	padding: 10px;
	width: 940px;
}

#header div div.section {
	height: 190px;
}

#header div div#section ul {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}

#header div div#section ul li {
	background: none;
	float: none;
    height: 38px;
    line-height: 34px;
	padding: 1px 0 1px;
    width: 230px;
}

#header div div#section ul li a {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -157px;
	color: #f5ffff;
	display: block;
	height: 38px;
	line-height: 34px;
	font-size: 12px;
    font-weight: bold;
	padding: 1px 0 1px;
	text-align: center;
	text-shadow: 1px 1px 0 #ad657d, -1px -1px 0 #ad657d, -1px 1px 0 #ad657d, 1px -1px 0 #ad657d;
	text-transform: lowercase;
}

#header div div#section ul li a:hover, #header div div#section ul li.selected a {
	color: #7c0d37;
	text-shadow: 1px 1px 0 #f7cade, -1px -1px 0 #f7cade, -1px 1px 0 #f7cade, 1px -1px 0 #f7cade;
}

#header div div#section ul li.selected a {
	background: url(../images/sprite-buttons.gif) no-repeat 0 0;
}

#header div div#section img {
	float: right;
}



#content div.home {
	margin: 0 auto;
	overflow: hidden;
	padding: 30px 0;
	width: 960px;
}

#content div#services, #content div#about, #content div {
	margin: 0 auto;
	padding: 10px 30px 30px;
	position: relative;
	width: 900px;
}

#content div#services, #content div#about  {
	overflow: hidden;
}


#content div#services div.aside p {
	color: #5F5D5E;
	line-height: 28px;
	margin: 5px 0 30px;
	text-align: justify;
}

#content div#about div.section,
#content div#services div.section {
	float: right;
	padding: 15px 0 0;
	width: 420px;
}



#content div div#visitshop {
	right: 30px;
	right: 30px;
	position: absolute;
}

#content div p {
	line-height: 28px;
}







#content div#about div.section div,
#content div div.section h3 {
	padding: 10px 0 0;
	width: auto;
}

#content div#about div.section div h3,
#content div div.section h3 {
	color: #852349;
    font-size: 25px;
    font-weight: normal;
    margin: 10px 0 0;
}

#content div div.section h3 {
	margin: 0;
    padding: 0;
}

#content div#about div.section div p,
#content div div.section p {
	line-height: 28px;
	margin: 0;
	text-align: justify;
}

#content div div.section p {
	margin-top: 5px;
	margin-bottom: 20px;
}

#content div#about div.section div a.callus {
	background: url(../images/sprite-icons.gif) no-repeat 0 -232px;
	color: #c04973;
	display: block;
	font-size: 18px;
	height: 91px;
	line-height: 30px;
	margin-top: 20px;
	padding-top: 10px;
	text-decoration: none;
	text-indent: 80px;
}

#content div#about div.section div a.callus span {
	color: #852349;
	display: block;
	font-family: Trebuchet MS;
	font-size: 25px;
	font-style: italic;
}

#content div#about div.aside span {
	background: none;
	color: #DF4B9F;
    display: block;
    font-size: 18px;
    text-indent: 0;
}

#content div#about div.aside p {
	line-height: 28px;
    margin-bottom: 30px;
    margin-top: 0;
	text-align: justify;
}

#content div h1 {
	color: #84284d;
	font-family: Trebuchet MS;
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
	padding-bottom: 10px;
}

#content div ul {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

#content div ul li {
	float: left;
	height: 220px;
	width: 450px;
}

#content div ul li div {
	padding: 0;
    position: relative;
    width: auto;
}

#content div ul li div div {
	left: 85px;
    padding: 0;
    position: absolute;
    top: 141px;
    width: auto;
}

#content div ul li div div h2 {
	font-family: Trebuchet MS;
	font-size: 18px;
	font-style: italic;
	font-weight: normal;
	margin: 0;
}

#content div ul li div div h2 a {
	color: #84284d;
	text-decoration: none;
}

#content div ul li div div p {
	color: #5F5D5E;
	margin: 0 0 10px;
	line-height: 28px;
	width: 185px;
	text-align: left;
}

#content div ul li div div a.view {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -451px;
	color: #84284d;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	width: 120px;
}

#content div.home div.aside {
	float: left;
    height: auto;
    padding: 0 0 0 20px;
    width: 430px;
}

#content div.home div.aside h1 {
	color: #84284d;
	font-family: Trebuchet MS;
	font-size: 25px;
	font-style: italic;
	font-weight: normal;
	margin: 0 0 5px;
	padding-bottom: 0;
	text-indent: 0;
}

#content div.home div.aside p {
	line-height: 28px;
	margin: 0;
	text-align: justify;
}

#content div.home div.aside p a.readmore {
	color: #932b50;
	text-decoration: none;
}

#content div.home div.section {
	background: url(../images/bg-foodstory.gif) repeat-y top center;
	float: right;
	height: 420px;
	padding: 20px;
	width: 430px;
}

#content div.home div.section div {
	background: #ebe7e8;
	float: left;
	height: 395px;
	padding: 5px 20px 20px;
	width: 200px;
}



#content div.home div.section div p {
	color: #5f5d5e;
	line-height: 28px;
	margin: 0;
	text-align: justify;
}

#content div.home div.section ul {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 180px;
}

#content div.home div.section ul li {
	display: block;
    height: auto;
    margin-top: 9px;
    width: auto;
}

#content div.home div.section ul li.first {
	margin-top: 0;
}

#content div.home div.section ul li img {
	border: 6px solid #fefffa;
}



#content div form input.textcontact {
	background: url(../images/input-contact.gif) no-repeat 0 0;
	border: 0 none;
	font-weight: bold;
    height: 30px;
    line-height: 30px;
    padding: 0 5px;
    width: 341px;
}

#content div form textarea {
	background: #fff;
	border: 1px solid #cccccc;
	height: 350px;
	padding: 5px;
	width: 890px;
}

#content div form input.submit {
	background: url(../images/sprite-buttons.gif) no-repeat 0 -411px;
	border: 0;
	display: block;
	margin-left: 780px;
	height: 30px;
	width: 120px;
}


